@media screen and (min-width: 812px) {
	.crash-one-product {
			width: 100%;

	}
}

@media screen and (max-width: 1218px) {
	.crash-one-product {
			margin-top: 4.4em;
			display: block;
			width: 100%;
	}
}

@media screen and (max-width: 812px) {
	.crash-one-product {
			display: none;
	}
}